<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnting.recyclerview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_config"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".stagger.StaggerActivity" />
        <activity android:name=".custom_layoutmanager.CustomLayoutManagerActivity" />
        <activity android:name=".item_touch_helper.ItemTouchHelperActivity" />
        <activity android:name=".card_swipe.CardSwipeActivity" />
        <activity android:name=".release_time.ReleaseTimeActivity" />
        <activity android:name=".test_animate.TestAnimateActivity" />
        <activity android:name=".barrage.animate.BarrageActivity" />
        <activity android:name=".barrage.recyclerview.BarrageActivity2" />
    </application>

</manifest>