<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnting.ipc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".messenger.MessengerActivity" />
        <activity android:name=".aidl.BookManagerActivity" />
        <activity android:name=".contentprovider.ProviderActivity" />
        <activity
            android:name=".bigfile.BigFileActivity"
            android:process=":bigfile" />

        <service
            android:name="com.cnting.ipc.messenger.MessengerService"
            android:process=":remote" />
        <service
            android:name=".aidl.BookManagerService"
            android:process=":remote" />

        <provider
            android:name=".contentprovider.BookProvider"
            android:authorities="com.cnting.ipc.contentprovider.BookProvider"
            android:permission="com.cnting.provider"
            android:process=":provider" />

        <service
            android:name=".binderpool.BinderPoolService"
            android:process=":binder_pool" />
        <activity android:name=".binderpool.TestBinderPoolActivity" />

        <service
            android:name=".sharememory.ShareMemoryService"
            android:process=":share_memory" />
        <activity android:name=".sharememory.TestShareMemoryActivity" />
    </application>

</manifest>